# Large data files
*.bam
*.bai
*.bam.bai

# Output files
*.bed
.txt
*.tsv
*.csv

# Python
*.pyc
__pycache__/
.ipynb_checkpoints/

# Mac
.DS_Store

# Conda
.conda/

# Environments
env/.env
.venv
g4hunter_env

# Ignore the Datasets
/data
datasets

# Ignore Python 2.7 
Python-2.7.18.tgz

# Ignore certain .txt files
GCF_000146045-Merged.txt
GCF_000146045-W25-S1.5.txt

