# Used for M Phase Genome Browsers
POSITIVE_BEDGRAPH_M = path/to/your/file
NEGATIVE_BEDGRAPH_M = path/to/your/file
OUTPUT_DIR_M = path/to/your/file
OUTPUT_DIR_M_UNSMOOTHED = path/to/your/file

# Used for S Phase Genome Browsers
POSITIVE_BEDGRAPH_S = path/to/your/file
NEGATIVE_BEDGRAPH_S = path/to/your/file
OUTPUT_DIR_S = path/to/your/file
OUTPUT_DIR_S_UNSMOOTHED = path/to/your/file

# Paths to the NCBI datasets
W303_GFF = path/to/your/file

# G4 Hunter outputs
G4_EXTRACTION = path/to/your/file
G4_MOTIFS_BED = path/to/your/file

# Additional genomic feature tracks
tRNA_MOTIFS_BED = path/to/your/file
TE_MOTIFS_BED_ALL = path/to/your/file
TE_MOTIFS_BED_BODIES = path/to/your/file

# Used for the POI plots M Phase
BRDU_PCT_OUTPUT_M_CSV = path/to/your/file
BRDU_M_PCT = path/to/your/file
BRDU_PCT_OUTPUT_M = path/to/your/file
BRDU_PCT_OUTPUT_M_UNSMOOTHED = path/to/your/file

# Used for the POI plots S Phase
BRDU_PCT_OUTPUT_S_CSV = path/to/your/file
BRDU_S_PCT = path/to/your/file
BRDU_PCT_OUTPUT_S = path/to/your/file
BRDU_PCT_OUTPUT_S_UNSMOOTHED = path/to/your/file

# Used for the M Phase rain plots
INPUT_FILE_RP = path/to/your/file
OUTPUT_FILE_RP = path/to/your/file
OUTPUT_FILE_RP_UNSMOOTHED = path/to/your/file

# Used for S Phase rain plots
INPUT_FILE_RP_S = path/to/your/file
OUTPUT_FILE_RP_S = path/to/your/file
OUTPUT_FILE_RP_UNSMOOTHED_S = path/to/your/file

# Paths used for rDNA rain plots
INPUT_FILE_RP_rDNA = path/to/your/file
OUTPUT_FILE_RP_rDNA = path/to/your/file

# Paths used for the M heatmaps
OUTPUT_DIR_M_HEATMAP = path/to/your/file

# Used for our RFB sequence
INPUT_FILE_RDNA_FASTA = path/to/your/file
OUTPUT_DIR_RFB_HITS = path/to/your/file
